<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                {% if post.author.profile_picture and post.author.profile_picture_exists() %}
                    <img src="{{ url_for('static', filename='images/'+post.author.profile_picture) }}" style="height: 70px;width: 70px; border-radius: 50%" alt="Set a profile picture">
                {% else %}
                    <img src="{{ url_for('static', filename='images/'+'default_profile_picture.png') }}" style="height: 70px;width: 70px; border-radius: 50%" alt="Set a profile picture">

                {% endif %}
            </a>
        </td>
        <td>
            {% set user_link %}
            <a class="user_popup" href="{{ url_for('main.user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
            {% endset %}
            {{ _('%(username)s said %(when)s',
                    username=user_link, when=moment(post.timestamp).fromNow()) }}
            <br>
            <span id="post{{ post.id }}">{{ post.body|safe }}</span>
            {% if post.language and post.language != g.locale %}
                <br><br>
                <span id="translation{{ post.id }}">
                    <a href="javascript:translate(
                                'post{{ post.id }}',
                                'translation{{ post.id }}',
                                '{{ post.language }}',
                                '{{ g.locale }}');">{{ _('Translate') }}</a>
                </span>
            {% endif %}
<br>
    {% if post.author.id == current_user.id or current_user.id == 1 %}

                <button style="border-radius: 10px; margin-top: 20px"><a class="page-link"
                                                                         href="{{ url_for('main.delete_post',post_id=post.id) }}">Delete
                    post</a></button>

    {% endif %}
        </td>
    </tr>
</table>
